/**
 * Stylesheet zur Klasse PageDetail: Detailseite der App
 */

.page-heading > div {
    order: 1;
    flex: 1;
}
.page-heading > img {
    box-sizing: border-box;
    width: 6em;
    max-width: 100%;

    border: 1px solid lightgrey;
    padding: 0.25em;
    background: rgb(250, 250, 250);

    order: 2;
}

.boat-info {
    font-size: 90%;
}

.boat-info .label {
    color: darkgrey;
    display: inline-block;
}

.boat-info .value {
    display: inline-block;
}

@media (min-width: 50em) {
    .page-heading {
        display: flex;
    }

    .boat-info .field {
        display: inline-block;
        padding-right: 5em;
    }
}

.tab-buttons {
    margin-top: 1.5rem;
    margin-bottom: calc(var(--content-padding) * -1);
}

main > img {
    box-sizing: border-box;
    width: 20em;
    max-width: 100%;

    border: 1px solid lightgrey;
    padding: 0.25em;
    background: rgb(250, 250, 250);
}

#add-to-warenkorb-button {
    /* font-size: 20px; */
  background: white;
  border: 2px solid rgb(0, 0, 0);
  font-family: "monsterrat", sans-serif;
  text-transform: uppercase;
  padding: 12px 20px;
  margin: 10px;
  cursor: pointer;
  transition: color 0.4s linear;
  position: relative;
}

#add-to-warenkorb-button:hover {
    font-weight: bolder;
    box-shadow: 0px 0px 5px black;
  }