body {
    margin: 0px;
    background-size: cover; /* cover = ganzen Container bedecken, auch wenn das Bild gestreckt oder geschnitten werden muss */

}
html {
    font-family: "Verdana", sans-serif;
    font-size: 14pt;
    line-height: 1.6;
    padding: 0px;
    margin: 0px;
}

@media (min-width: 600px) {
    html{
        font-size: 18pt;
    }
}

header {
    margin: 0px;
    line-height: 1.0;
    border-bottom: 2px rgba(50, 50, 50, 30%) solid;
    background-color: rgba(200, 200, 200, 100%);
}
h1 {
    margin: 0px;
    padding: 5px;
}